[Unit]
Description=System Upgrade (pre)
Documentation=man:upgrade-pre.service(8)
DefaultDependencies=no
After=upgrade.target plymouth-start.service
Before=upgrade.service

[Service]
Type=oneshot
# HACK: work around https://bugzilla.redhat.com/show_bug.cgi?id=869061
ExecStartPre=-/usr/bin/systemctl restart systemd-journald.service
ExecStart=-/bin/upgrade-pre
StandardInput=null
StandardOutput=journal+console
StandardError=journal+console
KillMode=process
KillSignal=SIGHUP
